@import url("https://fonts.googleapis.com/css?family=Kanit|Righteous&display=swap");

#mousemove-container {
  width: 500px;
  height: 200px;
  border-style: solid;
  font-family: "Righteous", arial;
  margin-bottom: 10px;
}
#my-canvas {
  height: 150px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

img {
  cursor: pointer;
}

select#color-menu.form-control {
  width: auto;
}

p {
  cursor: pointer;
  font-family: "Kanit", times;
}

#mousemove-text {
  font-family: "Righteous", monospace;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}

#target-text {
  background: transparent;
  padding: 0px;
  width: auto;
}

#color-display {
  height: 200px;
  width: 100px;
  background: #333;
}

button {
  cursor: pointer;
}
